doctype html
html
  head
    title= title
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //- <!-- Bootstrap 3.3.7 -->
    link(rel="stylesheet",href="/assets/bootstrap/dist/css/bootstrap.min.css")
    //- <!-- Font Awesome -->
    link(rel="stylesheet",href="/assets/font-awesome/css/font-awesome.min.css")
    //- <!-- Ionicons -->
    link(rel="stylesheet",href="/assets/Ionicons/css/ionicons.min.css")
    //- <!-- jvectormap -->
     <!-- DataTables -->
    link(rel="stylesheet" href="/assets/datatables.net-bs/css/dataTables.bootstrap.min.css")
    link(rel="stylesheet",href="/assets/jvectormap/jquery-jvectormap.css")
    link(rel='stylesheet', href='/assets/admin-lte/dist/css/AdminLTE.min.css')
    link(rel="stylesheet" href="/assets/admin-lte/dist/css/skins/_all-skins.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic")
    link(rel="stylesheet",href="stylesheets/style.css")
  body.hold-transition.skin-blue.sidebar-mini
    div.wrapper
      header.main-header
        include ./header
      //- <!-- Left side column. contains the logo and sidebar -->
      aside.main-sidebar
        include ./sidebar
      div.content-wrapper
        block content
  script(type='text/javascript' src='assets/jquery/dist/jquery.min.js')
  script(type='text/javascript' src='assets/bootstrap/dist/js/bootstrap.min.js')
  script(type='text/javascript' src="assets/datatables.net/js/jquery.dataTables.min.js")
  script(type='text/javascript' src="assets/datatables.net-bs/js/dataTables.bootstrap.min.js")
  script(type='text/javascript' src='assets/fastclick/lib/fastclick.js')
  script(type='text/javascript' src='assets/admin-lte/dist/js/adminlte.min.js')
  script(type='text/javascript' src='assets/jquery-sparkline/dist/jquery.sparkline.min.js')
  script(type='text/javascript' src='assets/admin-lte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')
  script(type='text/javascript' src='assets/admin-lte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
  script(type='text/javascript' src='assets/jquery-slimscroll/jquery.slimscroll.min.js')
  script(type='text/javascript' src='./assets/webcamjs-bower/webcam.min.js')
  script(type='text/javascript' src='./javascripts/user.js')