section.sidebar
  div.user-panel
  ul(class="sidebar-menu" data-widget="tree")
    li.header MAIN NAVIGATION
    li.active.treeview.menu-open
      a(href="#")
        i.fa.fa-dashboard
        span Dashboard
    li.treeview
      a(href="#")
        i.fa.fa-files-o
        span Layout Options
            
