section.sidebar
  div.user-panel
  ul(class="sidebar-menu" data-widget="tree")
    li.header MAIN NAVIGATION
    li.active.menu-open
      a(href="/index")
        i.fa.fa-list
        span Danh sách user
    li
      a(href="/users/new")
        i.fa.fa-camera-retro
        span Chup hình đăng ký
            
